<a href="https://colab.research.google.com/github/Niba-khan/ATM_MACHIME/blob/main/%C3%81ssignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Assignment 4:**

# *1-List Methods Practice:*

#                    **Task:**

# **01-Create and Modify Lists :**

*o Create a list called fruits with the items: "apple", "banana", "orange"

o Add "grape" to the end of the list using an appropriate method

o Insert "mango" at position 2 in the list

o Remove "banana" from the list

o Print the final list*

In [ ]:
#01-. Create and Modify Lists :

my_fruits = ["apple", "banana", "orange"]
my_fruits.append("grape")
my_fruits.insert(2, "mango")
my_fruits.remove("banana")

print("Final list of My fruits:", my_fruits)

Final list of My fruits: ['apple', 'mango', 'orange', 'grape']

# ***2. List Operations  ***

*o Create a list numbers with values: 10, 20, 30, 40, 50

o Create a second list more_numbers with values: 60, 70, 80

o Combine both lists into a new list called all_numbers

o Make a copy of all_numbers called numbers_copy

o Reverse the order of numbers_copy

o Print both all_numbers and numbers_copy *

In [ ]:
#2- List Operations:

list_numbers = [10, 20, 30, 40, 50]

second_list = [60, 70, 80]

new_list = list_numbers + second_list

numbers_copy = new_list.copy()

numbers_copy.reverse()

print("All Numbers:", new_list)
print("Reversed Copy:", numbers_copy)

All Numbers: [10, 20, 30, 40, 50, 60, 70, 80]
Reversed Copy: [80, 70, 60, 50, 40, 30, 20, 10]

# ***3. Sorting and Counting  ***

*o Create a list scores with these values: 85, 92, 78, 65, 92, 85, 74

o Sort the list in ascending order

o Sort the list in descending order

o Count how many times 92 appears in the list

o Find and print the highest and lowest scores

o Print the sorted list *

In [ ]:
#3. Sorting and Counting:

list_scores = [85, 92, 78, 65, 92, 85, 74]

list_scores.sort()

list_scores.sort(reverse=True)

count_92 = list_scores.count(92)

highest_score = max(list_scores)
lowest_score = min(list_scores)

print("Sorted list in descending order:", list_scores)
print("Number of times 92 appears:", count_92)
print("Highest score:", highest_score)
print("Lowest score:", lowest_score)

Sorted list in descending order: [92, 92, 85, 85, 78, 74, 65]
Number of times 92 appears: 2
Highest score: 92
Lowest score: 65

# ***4-List Manipulation  ***

*o Create a list letters with values: "a", "b", "c", "d", "e"

o Use slicing to create a new list with only the first three letters

o Use slicing to create another list with only the last two letters

o Find and print the index of "c" in the list

o Replace "d" with "z" in the original list

o Print the modified list *

In [ ]:
#4-List Manipulation

letters = ["a", "b", "c", "d", "e"]

first_three_letters = letters[:3]

last_two_letters = letters[-2:]

index_of_c = letters.index("c")

letters[letters.index("d")] = "z"

print("Modified list:", letters)
print("First three letters:", first_three_letters)
print("Last two letters:", last_two_letters)
print("Index of 'c':", index_of_c)

Modified list: ['a', 'b', 'c', 'z', 'e']
First three letters: ['a', 'b', 'c']
Last two letters: ['d', 'e']
Index of 'c': 2

# ***02: Dictionary Methods Practice ***

# *Task:*

# *  **1. Create and Access Dictionaries**
o Create a dictionary called student with these key-value pairs:

 "name": "John"

 "age": 20

 "grade": "A"

 "courses": ["Math", "Science", "History"]

o Print the student's name

o Print the list of courses

o Add a new key-value pair: "email": "john@example.com"

o Print the entire dictionary *

In [ ]:
#1. Create and Access Dictionaries:

student = {
    "name": "John",
    "age": 20,
    "grade": "A",
    "courses": ["Math", "Science", "History"]
}

print("Student's Name:", student["name"])
print("List of Courses:", student["courses"])
student["email"] = "john@example.com"
print("Updated Student Dictionary:", student)

Student's Name: John
List of Courses: ['Math', 'Science', 'History']
Updated Student Dictionary: {'name': 'John', 'age': 20, 'grade': 'A', 'courses': ['Math', 'Science', 'History'], 'email': 'john@example.com'}

# ***2. Modify Dictionary Values: ***
*o Change the student's age to 21

o Add a new course "Computer Science" to the courses list

o Update the grade to "A+"

o Print the modified dictionary *

In [ ]:
#2. Modify Dictionary Values:

student = {
    "name": "John",
    "age": 20,
    "grade": "A",
    "courses": ["Math", "Science", "History"]
}

student["age"] = 21

student["courses"].append("Computer Science")

student["grade"] = "A+"

print(student)

{'name': 'John', 'age': 21, 'grade': 'A+', 'courses': ['Math', 'Science', 'History', 'Computer Science']}

# ***3. Dictionary Operations:***

*o Create a second dictionary student_address with these key-value pairs:  

 "street": "123 College Ave"

 "city": "New York"

 "zip": "10001"

o Combine both dictionaries into a new dictionary called student_info

o Remove the "zip" key from student_info

o Check if "phone" exists in the dictionary

o Print the final dictionary*

In [ ]:
#3. Dictionary Operations:

student_address = {
    "street": "123 College Ave",
    "city": "New York",
    "zip": "10001"
}
student_info = student.copy()
student_info.update(student_address)
student_info.pop("zip")
print(student_info)
print("phone" in student_info)

{'name': 'John', 'age': 21, 'grade': 'A+', 'courses': ['Math', 'Science', 'History', 'Computer Science'], 'street': '123 College Ave', 'city': 'New York'}
False

# ***4. Dictionary Methods:***

*o Create a dictionary word_count with these key-value pairs:  

 "hello": 5

 "world": 10

 "python": 15

o Get all keys and print them as a list

o Get all values and print them as a list

o Get all key-value pairs and print them

o Make a copy of the dictionary

o Clear the original dictionary

o Print both dictionaries to verify one is empty and one is a copy*

In [ ]:
#4. Dictionary Methods:

word_count = {
    "hello": 5,
    "world": 10,
    "python": 15
}

print(list(word_count.keys()))

print(list(word_count.values()))

print(word_count)

word_copy = word_count.copy()

word_count.clear()

print("Word_count list", word_count)

print("Word_count list Copy", word_copy)

['hello', 'world', 'python']
[5, 10, 15]
{'hello': 5, 'world': 10, 'python': 15}
Word_count list {}
Word_count list Copy {'hello': 5, 'world': 10, 'python': 15}

# **For Loop Assignment - Number Patterns:**

# **1. Pattern 1: Counting**  
o Print numbers from 1 to 10 on a single line.
# ***Pattern 2: Multiplication Table ***
 Create a multiplication table for the number 5 (from 1 to 10). *

In [ ]:

# Pattern 1: Counting Numbers
for i in range(1, 11):
    print(i, end=" ")

# Pattern 2: Multiplication Table for number 5
number = 5
for i in range(1, 11):
    print(f"{number} x {i} = {number * i}")

1 2 3 4 5 6 7 8 9 10 5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

# ***While Loop Assignment - Interactive Game ***

*Write a Python program that:
1. Sets a "secret number" (you can choose any number between 1 and 50)
2. Asks the player to guess the number
3. Tells the player if their guess is too high or too low
4. Keeps asking until the player guesses correctly
5. Keeps track of how many guesses it took*

In [ ]:
#While Loop Assignment - Interactive Game

import random

secret = random.randint(1, 50)
count = 0

print("Guess a number between 1 and 50")

while True:
    guess = int(input("Your guess: "))
    count = count + 1

    if guess < secret:
        print("Too low!")
    elif guess > secret:
        print("Too high!")
    else:
        print("Correct! You guessed it in", count, "tries.")
        break

Guess a number between 1 and 50
Your guess: 5

** Shopping Discount Calculator **

*Tasks
1. Set up the initial variables:  
o purchase_amount: The total cost of items in the shopping cart
o is_loyalty_member: Boolean (True/False) indicating if the customer is a
loyalty member
o day_of_week: A string with the current day (e.g., "Monday", "Tuesday", etc.)
o is_holiday_season: Boolean indicating if it's currently a holiday shopping
season
2. Apply discount rules using if statements:  
o If purchase amount is greater than $100, apply a 10% discount
o If purchase amount is greater than $50 (but less than or equal to $100),
apply a 5% discount
o If the customer is a loyalty member, apply an additional 5% discount
o If it's a weekend (Saturday or Sunday), apply an additional 2% discount
o If it's a holiday season, apply an additional 8% discount
3. Calculate and display:  
o The original purchase amount
o Each discount that was applied and its amount
o The final price after all discounts*

In [ ]:
#Shopping Discount Calculator

cost = 120
is_member = True
today = "Saturday"
is_holiday = True

applied_discounts = []
total_deduction = 0
price_after_discounts = cost

if cost > 100:
    discount_amount = price_after_discounts * 0.10
    applied_discounts.append(("Large Discount", discount_amount))
    total_deduction += discount_amount
    price_after_discounts -= discount_amount

elif cost > 50:
    discount_amount = price_after_discounts * 0.05
    applied_discounts.append(("Medium Discount", discount_amount))
    total_deduction += discount_amount
    price_after_discounts -= discount_amount

if is_member:
    discount_amount = price_after_discounts * 0.05
    applied_discounts.append(("Benefit", discount_amount))
    total_deduction += discount_amount
    price_after_discounts -= discount_amount

if today in ["Saturday", "Sunday"]:
    discount_amount = price_after_discounts * 0.02
    applied_discounts.append(("Weekend Special discount", discount_amount))
    total_deduction += discount_amount
    price_after_discounts -= discount_amount

if is_holiday:
    discount_amount = price_after_discounts * 0.08
    applied_discounts.append(("Savings", discount_amount))
    total_deduction += discount_amount
    price_after_discounts -= discount_amount

print("\n Welcome to the Discount Calculator!\n")
print(f"Original Price: ${cost:.2f}\n")

print("Discounts Applied:")
if not applied_discounts:
    print("No discounts applied.")
else:
    for label, amount in applied_discounts:
        print(f"- {label}: -${amount:.2f}")

print(f"\n Total Savings: ${total_deduction:.2f}")
print(f"Final Amount Due: ${price_after_discounts:.2f}")

 Welcome to the Discount Calculator!

Original Price: $120.00

Discounts Applied:
- Large Discount: -$12.00
- Benefit: -$5.40
- Weekend Special discount: -$2.05
- Savings: -$8.04

 Total Savings: $27.50
Final Amount Due: $92.50

# ***Student Grade Management System ***

*Requirements:
Create a Python program that does the following:
1. Create a list to store information about students
2. Each student should be represented as a dictionary with the following keys:  
o name: The student's full name
o id: A unique student ID number
o grades: Another dictionary containing course names as keys and grades as
values
3. Your program should:  
o Add at least 3 students to the list
o Add grades for at least 3 courses for each student
o Display all students with their grades
o Calculate and display the average grade for each student
o Find and display the student with the highest average grade
o List all students with an average grade above 80
o Calculate and display the average grade for a specific course
o Add a new student to the system*

In [ ]:
#Student Grade Management System

def calculate_average(grades):
    return sum(grades.values()) / len(grades) if grades else 0

def display_student_grades(student):
    print(f"\nStudent: {student['name']} (ID: {student['id']})")
    for course, grade in student['grades'].items():
        print(f"  {course}: {grade}")
    print(f"  Average Grade: {calculate_average(student['grades']):.2f}")

def find_top_student(students):
    if not students:
        return None
    return max(students, key=lambda student: calculate_average(student['grades']))

def list_students_above_average(students, threshold):
    return [
        student for student in students
        if calculate_average(student['grades']) > threshold
    ]

def calculate_course_average(students, course_name):
    grades = [
        student['grades'][course_name]
        for student in students
        if course_name in student['grades']
    ]
    return sum(grades) / len(grades) if grades else 0

def add_new_student(students, name, student_id, grades):
    new_student = {"name": name, "id": student_id, "grades": grades}
    students.append(new_student)
    return new_student

def main():
    students = [
        {
            "name": "Niba",
            "id": 1001,
            "grades": {"Math": 92, "Science": 88, "History": 95},
        },
        {
            "name": "Kinza",
            "id": 1002,
            "grades": {"Math": 85, "Science": 92, "History": 89},
        },
        {
            "name": "Maha",
            "id": 1003,
            "grades": {"Math": 90, "Science": 87, "History": 91},
        },
    ]

    print("Student Details:")
    for student in students:
        display_student_grades(student)

    top_student = find_top_student(students)
    print("\n Top Performing Student ")
    if top_student:
        print(
            f"The top student is {top_student['name']} with an average grade of {calculate_average(top_student['grades']):.2f}"
        )
    else:
        print("No students found.")

    print("\n Students with Average Grade Above 80")
    above_80_students = list_students_above_average(students, 80)
    if above_80_students:
        for student in above_80_students:
            print(f"{student['name']}: {calculate_average(student['grades']):.2f}")
    else:
        print("No students found with an average grade above 80.")

    course_name = "Math"
    course_average = calculate_course_average(students, course_name)
    print(f"\nAverage Grade for {course_name}: {course_average:.2f}")

    new_student = add_new_student(students, "Sukaina", 1004, {"Math": 94, "Science": 91, "History": 90})
    print("\nNew Student Added:")
    print(f"Added: {new_student['name']} (ID: {new_student['id']})")

if __name__ == "__main__":
    main()

Student Details:

Student: Niba (ID: 1001)
  Math: 92
  Science: 88
  History: 95
  Average Grade: 91.67

Student: Kinza (ID: 1002)
  Math: 85
  Science: 92
  History: 89
  Average Grade: 88.67

Student: Maha (ID: 1003)
  Math: 90
  Science: 87
  History: 91
  Average Grade: 89.33

 Top Performing Student
The top student is Niba with an average grade of 91.67

 Students with Average Grade Above 80
Niba: 91.67
Kinza: 88.67
Maha: 89.33

Average Grade for Math: 89.00

New Student Added:
Added: Sukaina (ID: 1004)